header {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #ffffff;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

img {
    width: 150px;
}

.fletxa {
    position: fixed;
    left: 20px;
    color: #bebebe;
    text-decoration: none;
    font-size: 28px;
    z-index: 1000;
}
  
.fletxa:hover {
    color: #dcdcdc;
}

section {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenidor {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-right: 5px;
    height: 300px;
    align-content: center;
    justify-content: center;
}
  
.boto1 {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bebebe;
    color: #646464;
}

.nou {
    background-color: #607d8b;
    color: #ffffff;
}

.boto1:hover {
    background-color: #dcdcdc;
    color: #4a4a4a;
}

.nou:hover {
    background-color: #4f6c77;
    color: #ffffff;
}

